<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="service.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="service.css">
    <title>zuxmoney</title>
</head>

<body>
    <div class="backimage">
        <div class="topnav">
            <div class="logo">
                <img src="../../src/images/logo5.png" alt="Logo" width="270px">
            </div>
            <div class="subtop">
                <ul>
                    <li><a href="../gallerypage/gallerypage.html">GALLERY</a></li>
                    <li class="active"><a href="../servicepage/service.html">SERVICES</a></li>
                    <li><a href="../contacts/contacts.html">CONTACTS</a></li>
                    <li><a href="../about/about.html">ABOUT</a></li>
                    <li><a href="../homepage/home.html">HOME</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="hidden">
        <div class="services">
            <div class="head">
                <p>
                    <span>Hair </span>Dressing
                </p>
            </div>

            <div class="servicesgallery">

                <div class="servigallery1 ">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>Butter<span>fly</span></p>
                    <!-- <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div> -->
                </div>

                <div class="hr">
                    <hr>
                </div>


                <div class="servigallery2 ">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <p>Notr<span>ess</span></p>
                    <!-- <div class="desc">Add a description of the image hereAdd a description of the image here, Add a
                        description of the image here</div> -->
                </div>

                <div class="hr">
                    <hr>
                </div>

                <div class="servigallery3 ">
                    <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <p><span>Twi</span>st</p>
                    <!-- <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div> -->
                </div>
                <div class="hr">
                    <hr>
                </div>

            </div>
            <div class="servicesgallery">

                <div class="servigallery1 ">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>Exte<span>nsion</span></p>
                    <!-- <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div> -->
                </div>

                <div class="hr">
                    <hr>
                </div>


                <div class="servigallery2 ">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <p>Ye<span>bo</span></p>
                    <!-- <div class="desc">Add a description of the image hereAdd a description of the image here, Add a
                        description of the image here</div> -->
                </div>

                <div class="hr">
                    <hr>
                </div>

                <div class="servigallery3 ">

                    <!-- <a target="_blank" href="../../src/images/pic3.jpg"> -->
                    <!-- <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400"> -->
                    <!-- </a> -->
                    <p><span>Other </span> styles</p>
                    <div class="desc">
                        <ul>
                            <li>selfie</li>
                            <li>Jumong style</li>
                            <li>Bob</li>
                            <li>Mkia wa farasi</li>
                            <li>passion twist</li>
                            <li>Kubana nywele</li>
                        </ul>
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>

            </div>

        </div>
    </div>
    <div class="hidden">
        <div class="offers">
            <div class="head">
                <p>
                    <span>Make</span>up
                </p>
            </div>
            <div class="offersgallery">
                <div class="offgallery1">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>Bridal<span> makeup</span></p>
                    <!-- <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div> -->
                </div>

                <div class="hr">
                    <hr>
                </div>
                <div class="offgallery2">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <p>Simple<span>Makeup</span></p>
                    <!-- <div class="desc">Add a description of the image hereAdd a description of the image here, Add a
                        description of the image here</div> -->
                </div>
                <div class="hr">
                    <hr>
                </div>
                <div class="offgallery3">
                    <!-- <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a> -->
                    <p><span>Other </span>Make up styles</p>
                    <div class="desc">
                        <ul>
                            <li>Brow or Lash Tint</li>
                            <li>Lash Strip</li>
                            <li>Bob</li>
                            <li>Graduation makeup</li>
                            <li>Birthdays</li>
                            <li>Sendoffs</li>
                        </ul>
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>
            </div>

        </div>
    </div>
    <div class="hidden">
        <div class="nails">
            <div class="head">
                <p>
                    <span>Nails</span>Decoration
                </p>
            </div>
            <div class="nailgallery">
                <div class="nailgallery1">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>Ped<span>cure</span></p>
                    <!-- <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div> -->
                </div>
                <div class="hr">
                    <hr>
                </div>
                <div class="nailgallery2">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <p>Ti<span>ps</span></p>
                    <!-- <div class="desc">Add a description of the image hereAdd a description of the image here, Add a
                        description of the image here</div> -->
                </div>
                <div class="hr">
                    <hr>
                </div>
                <div class="nailgallery3">
                    <!-- <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a> -->
                    <p><span>Other</span> styles</p>
                    <div class="desc">
                        <ul>
                            <li>Manicure</li>
                            <li>Stickers</li>
                            <li>Magnet style</li>
                            <li>Building</li>
                            <li>Normal color style</li>
                            <li>Kucha ya unda</li>
                        </ul>
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="socialicons">
            <a href="https://instagram.com/zuxmoney_beauty_parlor?igshid=NDk5N2NlZjQ=" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook" target="_blank"></a>
            <a href="#" class="fa fa-telegram" target="_blank"></a>
            <a href="#" class="fa fa-twitter" target="_blank"></a>
            <a href="#" class="fa fa-whatsapp" target="_blank"></a>
            <div class="tik">
                <a href="https://www.tiktok.com/@zuxmoney_beauty_parlor?_t=8Zi3K9t6EHF&_r=1" target="_blank"><img
                        src="../../src/images/tkicon4.png" alt="tiktok"></a>
            </div>

        </div>
    



    <div class="row">
        <div class="column1">
            <h3>Hours</h3>
            <p>Mon-Fri:&nbsp; &nbsp;&nbsp;&nbsp; 8:00am-10:00pm<br>
                Sat:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 9:00am-7:00pm<br>
                Sun:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 12:00am-7:00pm</p>
        </div>

        <div class="column2">
            <h3>Location</h3>
            <p>Gongo la mboto, Dar es salaam, Tanzania<br>Nyerere road, Kampala road </p>
        </div>

        <div class="column3">
            <h3>Contacts</h3>
            <p>Phone:&nbsp; &nbsp; &nbsp;&nbsp; +255752103394<br>Email:&nbsp; &nbsp; &nbsp;&nbsp; zux@gmail.com
            <p>
        </div>
    </div>
    </div>

</body>

</html>