body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* background-color: rgb(0, 0, 0); */
  }
  
  :root{
    --golden: rgb(230, 212, 14);
  }
  
  .topnav {
    position: relative;
    top: 0;
    /* padding-right: 3%;    */
    /* padding-left: 2%; */
    width: 100%;
  }
  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    /* border-radius: 2px; */
    width: 100;
  }
  
  .topnav li {
    float: right;
    /* display: inline; */
    margin-top: 3%;
    margin-right: 2%;
  }
  
  .topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
    float: left;
  }
  
  .topnav li a:hover {
    background-color: var(--golden);
  }
  
  .logo {
    float: left;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 200px;
    font-size: 150%;
  }
  
  .backimage{
    height: 300px;
    background-image: url(../../src/images/pic7.jpg);
    margin-top: 0%;
    position: relative;
    top: 0;
    /* animation: change 30s infinite ease-in-out; */
  }
  @keyframes change{
    0%
    {
      background-image: url(../../src/images/pic2.jpg);
    }
    20%
    {
      background-image: url(../../src/images/pic3.jpg);
    }
    40%
    {
      background-image: url(../../src/images/pic4.jpg);
    }
    60%
    {
      background-image: url(../../src/images/pic2.jpg);
    }
    80%
    {
      background-image: url(../../src/images/pic2.jpg);
    }
    100%
    {
      background-image: url(../../src/images/pic3.jpg);
    }
  
  
  }
  /* service gallery starts here  */
  .servicesextra{

  }

  
  .services .head p {
    font-size: 40px;
    text-align: center;
  }
  
  .services .head p span {
    color: var(--golden);
  }
  
  
  
  .servicesgallery{
    padding-left: 5%;
    
  }
  .servicesgallery span{
    color: var(--golden);
  }
  
  .servicesgallery .servigallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 350px;
    margin-right: 4%;
    margin-top: 2%;
    transition: transform .2s;
  }
  .servicesgallery .servigallery1 p {
    font-size: 150%;
    text-align: center;
  }
  .servicesgallery .servigallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 4%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .servicesgallery .servigallery2 p {
    font-size: 150%;
    text-align: center;
  }
  .servicesgallery .servigallery3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 0%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .servicesgallery .servigallery3 p {
    font-size: 150%;
    text-align: center;
  }
  .servicesgallery .servigallery1:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }
  .servicesgallery .servigallery1  img {
    width: 100%;
    height: auto;
  }
  .servicesgallery .servigallery2:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .servicesgallery .servigallery2  img {
    width: 100%;
    height: auto;
  }
  .servicesgallery .servigallery3:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .servicesgallery .servigallery3  img {
    width: 100%;
    height: auto;
  }
  .servicesgallery .desc {
    padding: 15px;
    text-align: center;
    font-size: 120%;
  }
  /* special offers gallery starts here  */
  .offers .head {
    margin-top: 2%;
  }
  .offers .head p {
    font-size: 40px;
    text-align: center;
  }
  .offers .head p span {
    color: var(--golden);
  }
  .offersgallery{
    padding-left: 5%;
  }
  .offersgallery span{
    color: var(--golden);
  }
  .offersgallery .offgallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 350px;
    margin-right: 4%;
    margin-top: 2%;
    transition: transform .2s;
  }
  .offersgallery .offgallery1 p {
    font-size: 150%;
    text-align: center;
  }
  .offersgallery .offgallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 4%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .offersgallery .offgallery2 p {
    font-size: 150%;
    text-align: center;
  }
  .offersgallery .offgallery3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 0%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .offersgallery .offgallery3 p {
    font-size: 150%;
    text-align: center;
  }
  .offersgallery .offgallery1:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }
  .offersgallery .offgallery1  img {
    width: 100%;
    height: auto;
  }
  .offersgallery .offgallery2:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .offersgallery .offgallery2  img {
    width: 100%;
    height: auto;
  }
  .offersgallery .offgallery3:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .offersgallery .offgallery3  img {
    width: 100%;
    height: auto;
  }
  .offersgallery .desc {
    padding: 15px;
    text-align: center;
    font-size: 120%;
  }

  /* nails service */

    .nail .head {
    margin-top: 2%;
  }
  .nail .head p {
    font-size: 40px;
    text-align: center;
  }
  .nail .head p span {
    color: var(--golden);
  }
  .nailgallery{
    padding-left: 5%;
  }
  .nailgallery span{
    color: var(--golden);
  }
  .nailgallery .nailgallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 350px;
    margin-right: 4%;
    margin-top: 2%;
    transition: transform .2s;
  }
  .nailgallery .nailgallery1 p {
    font-size: 150%;
    text-align: center;
  }
  .nailgallery .nailgallery2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 4%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .nailgallery .nailgallery2 p {
    font-size: 150%;
    text-align: center;
  }
  .nailgallery .nailgallery3 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    margin-right: 0%;
    border-radius: 4px;
    margin-top: 2%;
    transition: transform .2s;
  }
  .nailgallery .nailgallery3 p {
    font-size: 150%;
    text-align: center;
  }
  .nailgallery .nailgallery1:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }
  .nailgallery .nailgallery1  img {
    width: 100%;
    height: auto;
  }
  .nailgallery .nailgallery2:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .nailgallery .nailgallery2  img {
    width: 100%;
    height: auto;
  }
  .nailgallery .nailgallery3:hover {
    border: 1px solid #777;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .nailgallery .nailgallery3  img {
    width: 100%;
    height: auto;
  }
  .nailgallery .desc {
    padding: 15px;
    text-align: center;
    font-size: 120%;
  }
  /* footer starts here */
  
  .footer {
    background-color: #252323;
    padding: 15px;
    text-align: center; 
    height: 300%;
    color: aliceblue;
    margin-top: 58%;
   
  }
  
  .row .column h2{
    color: var(--golden);
  }
  .row .column p{
    font-size: 120%;
  }
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 29%;
    padding: 15px;
    margin-right: 2%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  
  /* social media icons */
  .fa {
    padding: 10px; 
    font-size: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 4px 1px;
    border-radius: 50%;
   
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    background:  rgb(173, 25, 165);
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-telegram {
    background: #3888a8;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-whatsapp {
    background: #12be29;
    color: white;
  }
    
  
  
  
  