<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="homescript.js"></script>
    <link rel="stylesheet" href="homestyle.css">
    <title>zuxmoney</title>
</head>

<body>
    <div class="topnav">
        <ul>
            <li class="logo" style="float: left; color: white;">Zux money beauty</li>
            <li><a href="#gallery">GALLERY</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#contacts">CONTACTS</a></li>      
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#home">HOME</a></li>
        </ul>
    </div>
    <div class="backimage">
        <div class="banner"></div>
        <div class="banner"></div>
        <div class="banner"></div>
    </div>
    <div class="offers">
        <div class="head">
            <p>
                Special offers
            </p>
        </div>
        <div class="specialoffers">
            <div class="servicesgallery">
                <div class="servigallery1">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>free Wi-Fi</p>
                    <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div>
                </div>
    
                <div class="servigallery2">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    
                    <div class="desc">Add a description of the image hereAdd a description of the image here, Add a
                        description of the image here</div>
                </div>
    
                <div class="servigallery3">
                    <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here, Add a description of the image hereAdd a
                        description of the image here</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>