<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="homescript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="homestyle.css">
    <title>zuxmoney</title>
</head>

<body>
    <div class="backimage">
        <div class="topnav">
            <div class="logo">
                <img src="../../src/images/logo5.png" alt="Logo" width="270px">
            </div>
            <ul class="subtop">
                <!-- <li class="logo" style="float: left; margin-top: 2%;" ><img src="../../src/images/logo5.png" alt="Logo" width="270px" ></li> -->
                <li><a href="../gallerypage/gallerypage.html">GALLERY</a></li>
                <li><a href="../servicepage/service.html">SERVICES</a></li>
                <li><a href="../contacts/contacts.html">CONTACTS</a></li>
                <li><a href="../about/about.html">ABOUT</a></li>
                <li class="active"><a href="../homepage/home.html">HOME</a></li>
            </ul>

        </div>
    </div>
    <div class="hidden">
        <div class="services">
            <div class="head">
                <p>
                    <span>Our</span> Services
                </p>
            </div>

            <div class="servicesgallery">

                <div class="servigallery1 ">
                    <a target="_blank" href="../../src/images/hairdress1.jpg">
                        <img src="../../src/images/hairdress1.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>HAIR <span>DRESSING</span></p>
                    <div class="desc">Welcome to our Hair Dressing Salon!
                         Our experienced stylists offer a wide range of hair services to help you look and feel your best.
                         We use only the highest quality products to ensure your hair is healthy and vibrant. 
                         Book an appointment today and let us help you achieve the hair of your dreams!</div>
                </div>

                <div class="hr">
                    <hr>
                </div>


                <div class="servigallery2 ">
                    <a target="_blank" href="../../src/images/makeup1.jpg">
                        <img src="../../src/images/makeup1.jpg" alt="Forest" width="600" height="465">
                    </a>
                    <p>MAKE<span>UP</span></p>
                    <div class="desc">Our skilled makeup artists use the latest products and techniques to enhance your natural beauty.  From foundation to eye shadow, lips to cheeks, we'll help you bring out your best features and leave you feeling confident and beautiful. Book an appointment today and get ready to shine!"</div>
                </div>

                <div class="hr">
                    <hr>
                </div>

                <div class="servigallery3 ">
                    <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <p><span>NAILS</span> AND  DECORATIONS</p>
                    <div class="desc">Our expert technicians will help you achieve stunning, personalized nails that are as unique as you are.  Choose from a variety of colors, patterns, and decorations to make your nails pop. Book an appointment today and let us help you make a statement with your nails!</div>
                </div>
                <div class="hr">
                    <hr>
                </div>

            </div>

        </div>
    </div>

    <!-- <div class="services">
        <h1>hbfsudfbsdbvsdbvubdsbvdbsvjbdsjvb

            dvdsvdsvdsv
        </h1>
    </div> -->
    <div class="hidden">
        <div class="offers">
            <div class="head">
                <p>
                    <span>Special</span> offers
                </p>
            </div>
            <div class="offersgallery">
                <div class="offgallery1">
                    <a target="_blank" href="../../src/images/pic4.jpg">
                        <img src="../../src/images/pic4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <p>FREE <span>Wi-Fi</span></p>
                    <div class="desc">Stay connected while you relax and rejuvenate at our salon. We offer Free Wi-Fi to all of our customers, so you can catch up on work, browse the web, or simply stay connected with friends and family.
                        Enjoy fast and reliable Wi-Fi while you wait.Book your appointment today and take advantage of our convenient and complimentary Wi-Fi service!
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>
                <div class="offgallery2">
                    <a target="_blank" href="../../src/images/pic2.jpg">
                        <img src="../../src/images/pic2.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <p>JUICE AND <span>BITES</span></p>
                    <div class="desc">Relax and recharge with our Juice and Bites menu. As you're pampered with our hair, makeup, or nail services, enjoy a delicious selection of healthy juices and snacks. 
                        Book your appointment today and enjoy the perfect pick-me-up during your visit!
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>
                <div class="offgallery3">
                    <a target="_blank" href="../../src/images/pic3.jpg">
                        <img src="../../src/images/pic3.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <p><span>DISCOUNT</span> AND SERVICE <span>DELIVERY</span></p>
                    <div class="desc">We offer discount to our customers depending on some conditions such 
                        Directing new customers to our saloon, also Amount of service purchased by customer. We offer  free delivery services to our customers on thier locations.
                    </div>
                </div>
                <div class="hr">
                    <hr>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="socialicons">
            <a href="https://instagram.com/zuxmoney_beauty_parlor?igshid=NDk5N2NlZjQ=" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook" target="_blank"></a>
            <a href="#" class="fa fa-telegram" target="_blank"></a>
            <a href="#" class="fa fa-twitter" target="_blank"></a>
            <a href="#" class="fa fa-whatsapp" target="_blank"></a>
            <div class="tik">
                <a href="https://www.tiktok.com/@zuxmoney_beauty_parlor?_t=8Zi3K9t6EHF&_r=1" target="_blank"><img src="../../src/images/tkicon4.png" alt="tiktok" ></a>
            </div>

        </div>



        <div class="row">
            <div class="column1">
                <h3>Hours</h3>
                <p>Mon-Fri:&nbsp; &nbsp;&nbsp;&nbsp; 8:00am-10:00pm<br>
                    Sat:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 9:00am-7:00pm<br>
                    Sun:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 12:00am-7:00pm</p>
            </div>

            <div class="column2">
                <h3>Location</h3>
                <p>Gongo la mboto, Dar es salaam, Tanzania<br>Nyerere road, Kampala road </p>
            </div>

            <div class="column3">
                <h3>Contacts</h3>
                <p>Phone:&nbsp; &nbsp; &nbsp;&nbsp; +255752103394<br>Email:&nbsp; &nbsp; &nbsp;&nbsp; zux@gmail.com
                </p>
            </div>
        </div>
    </div>

</body>

</html>