<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="gallerypage.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="galerrypage.css">
  <title>zuxmoney</title>
</head>

<body>
  <div class="backimage">
    <div class="topnav">
      <div class="logo">
      <img src="../../src/images/logo5.png" alt="Logo" width="270px">
      </div>
      <div class="subtop">
        <ul>
          <li  class="active"><a href="../gallerypage/gallerypage.html">GALLERY</a></li>
          <li><a href="../servicepage/service.html">SERVICES</a></li>
          <li><a href="../contacts/contacts.html">CONTACTS</a></li>
          <li><a href="../about/about.html">ABOUT</a></li>
          <li><a href="../homepage/home.html">HOME</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="../../src/images/pic2.jpg" style="width:95%">
      <img src="../../src/images/pic3.jpg" style="width:95%">
      <img src="../../src/images/pic9.jpg"  style="width:95%">
      <img src="../../src/images/pic10.jpg" style="width:95%">
      <img src="../../src/images/pic11.jpg"  style="width:95%">
  </div>
  <div class="column">
    <img src="../../src/images/pic12.jpg" style="width:95%">
      <img src="../../src/images/pic13.jpg" style="width:95%">
      <img src="../../src/images/pic14.jpg"  style="width:95%">
      <img src="../../src/images/pic15.jpg" style="width:95%">
      <img src="../../src/images/pic16.jpg"  style="width:95%">
  </div>  
  <div class="column">
    <img src="../../src/images/pic17.jpg" style="width:95%">
      <img src="../../src/images/pic18.jpg" style="width:95%">
      <img src="../../src/images/pic19.jpg"  style="width:95%">
      <img src="../../src/images/pic20.jpg" style="width:95%">
      <img src="../../src/images/pic21.jpg"  style="width:95%">
  </div>
  <div class="column">
    <img src="../../src/images/pic22.jpg" style="width:95%">
      <img src="../../src/images/pic23.jpg" style="width:95%">
      <img src="../../src/images/pic24.jpg"  style="width:95%">
      <img src="../../src/images/pic25.jpg" style="width:95%">
      <img src="../../src/images/pic26.jpg"  style="width:95%">
  </div>
</div>



    

  <div class="footer">
    <div class="socialicons">
      <a href="https://instagram.com/zuxmoney_beauty_parlor?igshid=NDk5N2NlZjQ=" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-facebook" target="_blank"></a>
      <a href="#" class="fa fa-telegram" target="_blank"></a>
      <a href="#" class="fa fa-twitter" target="_blank"></a>
      <a href="#" class="fa fa-whatsapp" target="_blank"></a>
      <div class="tik">
          <a href="https://www.tiktok.com/@zuxmoney_beauty_parlor?_t=8Zi3K9t6EHF&_r=1" target="_blank"><img src="../../src/images/tkicon4.png" alt="tiktok" ></a>
      </div>
    </div>



    <div class="rowf">
      <div class="column1">
        <h3>Hours</h3>
        <p>Mon-Fri:&nbsp; &nbsp;&nbsp;&nbsp; 8:00am-10:00pm<br>
          Sat:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; 9:00am-7:00pm<br>
          Sun:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 12:00am-7:00pm</p>
      </div>

      <div class="column2">
        <h3>Location</h3>
        <p>Gongo la mboto, Dar es salaam, Tanzania<br>Nyerere road, Kampala road </p>
      </div>

      <div class="column3">
        <h3>Contacts</h3>
        <p>Phone:&nbsp; &nbsp; &nbsp;&nbsp;+255752103394<br>Email:&nbsp; &nbsp; &nbsp;&nbsp; zux@gmail.com
        </p>
      </div>
    </div>
  </div>

</body>

</html>